/* Snazzy Design System */

.site-logo img {
 	width: 9.5rem;
    margin-top: 8px;
}

.snazzy-hght {
  height: 400px;
}

#snazzy-flex {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#snazzy a:link, a:visited {
  color: #0b1945 !important;
  font-weight: bold;
  text-decoration: none;
  font-size: 11pt;
}

#snazzy a:link:active, a:visited:active {
  font-weight: bold;
  text-decoration: none;
  font-size: 11pt;  
  color: #0b1945;
  outline: solid #5fc1f5;
  outline-width: medium;
  outline-offset: 10px;
}

#snazzy .list-inline>li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 10px;
  margin-top: 20px;
}

.snazzy-active {
  border-bottom: 3px solid #5fc1f5;
  color: #0b1945;
  font-weight: bold;
  font-size: 11pt;
}

.snazzy-active-sub {
  border-bottom: 3px solid #5fc1f5;
  color: #046b99;
  font-weight: bold;
  font-size: 11pt;
}

.snazzy-sub {
  color: #09b06a;
}  

#snazzy-h1 {
  color: #5fc1f5;
  font-weight: bold;
  margin-bottom: -30px
}

.snazzy-bkgrnd {
  background-color: #1c304a !important;
}

.snazzy-bkgrnd2 {
  background-color: #046b99 !important;
}

#snazzy .btn-primary {
  background-color: #046b99 !important;
}

#snazzy-prjts-h3 {
  margin-bottom: -20px !important;
  margin-top: 0px !important;
  font-size: 24pt;
}

.snazzy-blue {
  color: #5fc1f5;
}  

.snazzy-dwnld {
  border-top: solid;
  border-color: #046b99;
  border-width: 10px;
}

.snazzy-dwnld a:link, a:visited {
  text-decoration: none;
}

ul #snazzy-ul {
  margin-top: 0px;
}  